*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

input,
button,
a,
textarea,
select {
    all: unset;
    margin: 0;
    font: inherit;
    text-decoration: none;
    color: inherit;
}
