.founded_list {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  padding: var(--s);
  background-color: var(--primary-color);
  border-radius: var(--s);
  color: var(--dark-text-color);
  display: flex;
  flex-direction: column;
  gap: var(--s);
  filter: drop-shadow(2px 2px 8px #000);
  z-index: var(--z-index-dropdown);
}

.founded_item {
  padding: var(--xs);
  cursor: pointer;
  &:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}
